<!DOCTYPE html>
<html>
  <head>
    <title>Shopping Cart Application</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://js.braintreegateway.com/js/braintree-2.32.1.min.js" %>

 
    
  </head>

  <body>


  <!-- flash start --> 
<!--     <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info"%>
     <% end %> -->
<!-- flash end  -->

    <%= render 'shared/header' %>

    <%= render 'shared/message' %>


    <div class="main-container">
    

         <%= yield %>
       

    <%= render 'shared/footer' %>

    </div><!-- /.main-container -->

   
  </body>
  
</html>





